
body{
background-image:url('/resources/image/Mahabalipuram.jpg');
background-repeat:no-repeat;
background-attachment: fixed;
background-size:150% 100%;
background-color:lightgreen;
}
input[type=text],input[type=password]{
border:2px solid red;
border-radius: 4px;
}
